
.style1{
    font-size: 20px;
    line-height: 200%;
    text-align: justify;
  }
 
.titlestyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #202029;
    font: bold Helvetica ;
  }

  .titlestyle2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 400%;
    margin: 20 px;
    color: #202029;
    font: bold Helvetica ;
  }

.contstyle{
    margin: 10 px;
}

/* ====================       ABOUT US      ============================= */
/*     <a href="#" > <button class="button" style="vertical-align:middle"><span> Text </span></button></a>       */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1a1b25;
    border: none;
    color: #f5f0f0;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/*  =================================================================== -*/


/* ====================     Team Section      ========================== */

/*  =================================================================== -*/
.rowstyle{
  background-color: #222334dc;
  color:#202029;
}